.auto-complete-button, .auto-complete-button:focus{
	width: 38px;
	height: 38px;
	font-weight: bold;
	color : #000;
	background-color : rgb(172, 172, 52);
	transform : rotate(90deg);
	outline : none;
	border : 0;
	font-family : Helvetica, Sans Serif;
    position: absolute;	
	top: 0px;
    right: 0;
}
